@model Entities.DTOs.RequestAllListDto

@{
    ViewData["Title"] = "TALEP DETAYLARI";
}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center">
            <h1 class="display-4">@ViewData["Title"]</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Müşteri</th>
                                <th>Talep Tarihi</th>
                                <th>Talep</th>
                                <th>Talep Türü</th>
                                <th>Durum</th>
                                <th>Müşteri Temsilcisi</th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            
                                <tr>
                                    <td>@Model.CustomerName</td>
                                    <td>@Model.CreateDate.ToString("dd MMMM yyyy")</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.RequestTypeName</td>
                                    <td>@Model.StatusName</td>
                                    <td>@Model.CustomerRepName</td>
                                    <td>
                                    <a asp-action="RequestCall" asp-controller="Request" class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Talep Görüşme</a>
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
