@model List<Entities.DTOs.CustomerRepAllListDto>

@{
    ViewData["Title"] = "BÜTÜN MÜŞTERİ TEMSİLCİLERİ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center">
            <h1 class="display-4">@ViewData["Title"]</h1>
        </div>
    </div>

    <a asp-action="CreateCustomerRep" asp-controller="Admin" class="btn btn-danger">Yeni Müşteri Temsilcisi</a>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Müşteri Temsilcisi Ad</th>
                                <th>Soyad</th>
                                <th>Mail</th>
                                <th>Parola</th>
                                <th>Telefon</th>
                                <th>Rolü</th>
                                <th> </th>
                                <th> </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Password</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Role</td>

                                    <td><a asp-action="EditCustomerRep" asp-controller="Admin" asp-route-customerId="@item.CustomerId" asp-route-customerRepId="@item.CustomerRepId" class="btn btn-warning">Güncelle</a></td>
                                    <td><a asp-action="DeleteCustomerRep" asp-controller="Admin" asp-route-customerId="@item.CustomerId" asp-route-customerRepId="@item.CustomerRepId" class="btn btn-success">Sil</a></td>

                                    @*href="/Admin/EditCustomerRep/@item.CustomerId/@item.CustomerRepId"*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>