@model List<Entities.DTOs.RequestListByCustomerDto>

@{
    ViewData["Title"] = "MÜŞTERİNİN TALEPLERİ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center">
            <h1 class="display-4"> @ViewBag.CustomerName @ViewData["Title"]</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Talep Tarihi</th>
                                <th>Talep</th>
                                <th>Talep Türü</th>
                                <th>Durum</th>
                                <th>Müşteri Temsilcisi</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CreateDate.ToString("dd MMMM yyyy")</td>
                                    <td>@item.Description</td>
                                    <td>@item.RequestTypeName</td>
                                    <td>@item.StatusName</td>
                                    <td>@item.CustomerRepName</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

